@font-face {
    font-family: 'Satisfy';
    src: url('./fonts/Satisfy-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Abril';
    src: url('./fonts/AbrilFatface-Regular.ttf') format('truetype');
  }

.form-control:focus {
    box-shadow: none;
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;

}

/*================================  Nav Bar =================================    */

body {
    background-color: rgb(245, 228, 231);
}

.navLogo {
    height: 3.5rem;
    width: 2.2rem;
}
#brandtext{

    color: rgb(255, 43, 13);
    font-family: 'Abril';
    font-size: 2.2rem;
    position: relative;
	font-weight: 400;
}

.navbar b {
    font-weight: 300;
    font-size: 2.8rem;
    text-shadow: .15rem .1rem .12rem black;
    transition: all .22s ease-in-out;
    -webkit-transition: all .22s ease-in-out;
    -moz-transition: all .22s ease-in-out;
    -ms-transition: all .22s ease-in-out;
    -o-transition: all .22s ease-in-out;
}
.navbar b:hover {
    color:rgb(224, 142, 150);
    text-shadow: .15rem .15rem .3rem black;
}
.nav-item {
    font-size: 1.5rem;
}
#fade a {

    color: rgb(224, 191, 197);
    text-shadow: .05rem .05rem .07rem rgb(0, 0, 0);
    position: relative;
    font-weight: 400;
    transition: all 0.22s ease-in-out;
    -webkit-transition: all 0.22s ease-in-out;
    -moz-transition: all 0.22s ease-in-out;
    -ms-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
}
.dropdown {
    margin-bottom: -.5rem;
}
.dropdown-menu {
    border: none;
}
.dropdown-item {
    font-size: 1.3rem;
}

.dropdown-item:hover {
    background: none; 
    color: #fff;
    box-shadow: inset 20px 20px none;
}
#firstDropdown {
    margin-top: -1.1rem;
}


#fade a:hover {
    color:rgb(211, 102, 113);
    text-shadow: .15rem .15rem .3rem black;
}

/*================================  End of Navbar =================================    */


.micro h1 {
    font-size: 2.7rem;
    font-weight: 400;
}
.micro h2 {
    font-size: 2.4rem;
    font-weight: 400;
}
.micro h3 {
    font-weight: 300;
}
.micro p {
    font-weight: 300;
    font-size: 2rem;

}

/*================================  Cards =================================    */

.card-img-top {
    min-width: 22.805rem;
    min-height: 18rem;
    width: 100%;
    height: 18vw;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -ms-border-radius: 1.5rem 1.5rem 0 0;
    -o-border-radius: 1.5rem 1.5rem 0 0;
}

.card {
    height: 40rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}


/*================================  Images =================================    */
.lash-main {
    align-items: center;
    margin-top: 5rem;
    height: 43rem;
    width: 33rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.carousel img {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/*================================  Button =================================    */

.bigButton {
    display: inline-block;
    padding: .7em 2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(0, 0, 0), 15%, rgba(211, 102, 113), 85%, rgb(0, 0, 0)) ;
    text-decoration:none;
    font-size: 3rem;
    font-weight:300;
    color:#ffffff;
    text-shadow: .2rem .1rem rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.bigButton:hover{
    background-image: linear-gradient(rgb(134, 101, 123), rgba(230, 147, 238, 0.808), rgba(132, 101, 123)) ;
    background-color: rgb(138, 86, 131);
    border-color: rgb(100, 58, 119);

}
.bigButton:active{
    outline: none;
    background-image: none;
    background-color: rgb(100, 58, 119);
}
.bigButton:focus {
    outline: none;
}


.lilButton {
    display: inline-block ;
    padding: .7em 2em;
    margin: 0 0.1em 0.1em 0;
    
    border-radius: 1em;
    box-sizing: border-box;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    text-decoration: none;
    text-shadow: .08rem .08rem .05rem black;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.lilButton:hover{
    color: #f5f59a;
    text-shadow: 0 0 .15rem #bbac56;

}
.lilButton:active{
    outline: none;
    background-image: none;
    background-color: rgb(100, 58, 119);
}
.lilButton:focus {
    outline: none;
}

/* ================= Social Media =================*/

.social {
    list-style-type: none;
}
i {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #a5863f 40%, transparent 80%),                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #927739 62.5%, #8a7033 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    margin: 0;
    font-weight: 400;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

i:hover {
    text-shadow: 0 0 .2rem #f5f59a;
}
@media all and (max-width:30em){
    .bigButton {
        display:block;
        margin:0.2em auto;
    }
}
