/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-regular.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-500 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-500.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-500.ttf') format('truetype');
    /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-600.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-600.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-700.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-700.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-800 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-800.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-800.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-900 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-900.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-900.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-900.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-italic.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-italic.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-600italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-600italic.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-500italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-500italic.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-700italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    font-feature-settings: "lnum";
    src: local(''),         url('./fonts/raleway-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */         url('./fonts/raleway-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */         url('./fonts/raleway-v19-latin-700italic.ttf') format('truetype');
     /* Safari, Android, iOS */:;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
/* raleway-900italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    font-feature-settings: "lnum";
    src: local(''),                 url('./fonts/raleway-v19-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */                 url('./fonts/raleway-v19-latin-900italic.woff') format('woff'), /* Modern Browsers */                 url('./fonts/raleway-v19-latin-900italic.ttf') format('truetype');
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
}
@font-face {
    font-family: 'Abril';
    src: url('./fonts/AbrilFatface-Regular.ttf') format('truetype');
}

/*  ==================== Page Controls =======================  */
* {
    box-sizing: border-box;
}

.form-control:focus {
    box-shadow: none;
}

html {
    font-family: 'Raleway', 'Roboto', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

body {
    font-family: 'Raleway', 'Roboto', 'Lucida Sans Unicode';
    background-color: rgb(245, 228, 231);
}

/*==================  Nav Bar  ==================    */

.navLogo {
    height: 3.5rem;
    width: 2.2rem;
    margin-bottom: .8rem;
    margin-right: 1.2rem;
}

#brandtext{
    letter-spacing: .18rem;
    color: rgb(255, 43, 13);
    font-family: 'Abril';
    font-size: 2.2rem;
    position: relative;
    font-weight: 400;
}

.navbar b {
    font-weight: 300;
    font-size: 2.8rem;
    text-shadow: .15rem .1rem .12rem black;
    transition: all .22s ease-in-out;
    -webkit-transition: all .22s ease-in-out;
    -moz-transition: all .22s ease-in-out;
    -ms-transition: all .22s ease-in-out;
    -o-transition: all .22s ease-in-out;
}

.navbar b:all {
    color:rgb(224, 142, 150);
    text-shadow: .15rem .15rem .3rem black;
}

.nav-item {
    font-size: 1.5rem;
}

#fade a {
    color: rgb(224, 191, 197);
    text-shadow: .05rem .05rem .07rem rgb(0, 0, 0);
    position: relative;
    font-weight: 400;
    transition: all 0.22s ease-in-out;
    -webkit-transition: all 0.22s ease-in-out;
    -moz-transition: all 0.22s ease-in-out;
    -ms-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
}

#fade a:hover {
    color:rgb(211, 102, 113);
    text-shadow: .15rem .15rem .3rem black;
}

.dropdown {
    margin-bottom: -.5rem;
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    font-size: 1.3rem;
}

.dropdown-item:hover {
    background: none;
}

.dropdown-item:all {
    background: none; 
    box-shadow: inset 20px 20px none;
}

.dropdown-toggle {
    margin-right: -1rem;
}

#firstDropdown {
    margin-top: -1.1rem;
}

/*================================  Text =================================    */

.micro h1 {
    font-size: 2.7rem;
    font-weight: 400;
}
.micro h2 {
    font-size: 2.4rem;
    font-weight: 400;
}
.micro h3 {
    font-weight: 300;
}
.micro p {
    font-weight: 300;
    font-size: 2rem;

}
h1 {
    font-weight: 700;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

p {
    font-size: 1.5rem;
}

.text {
    text-decoration: none;
    color: rgb(156, 76, 209);
    text-shadow: .05rem .05rem .05rem rgb(43, 42, 42);
    position: relative;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}
a:hover {
    color:rgb(94, 159, 202);
    text-shadow: .05rem .03rem .08rem rgb(0, 0, 0)
}
.info b {
    font-weight: 600;
}
/*================================  Cards =================================    */

.card-img-top {
    min-width: 22.805rem;
    min-height: 18rem;
    width: 100%;
    height: 18vw;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -ms-border-radius: 1.5rem 1.5rem 0 0;
    -o-border-radius: 1.5rem 1.5rem 0 0;
}

.card {
    height: 40rem;
    width: 23rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}


/*================================  Images =================================    */
.lash-main {
    align-items: center;
    margin-top: 5rem;
    height: 43rem;
    width: 33rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.carousel img {

    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.pageImage {
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
}

contactImage {
    height: 5rem;
    width: 5rem;
}

.lisaImage {
    height: auto;
    width: auto;
}


/*================================  Button =================================    */

.bigButton {
    display: inline-block;
    padding: .7em 1.5em;
    margin: 0 0.1em 0.1em 0;
    border-radius:1.5em;
    box-sizing: border-box;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    font-size: 2.2rem;
    font-weight:300;
    color:#ffffff;
    text-shadow: .2rem .1rem rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-border-radius:1.5em;
    -moz-border-radius:1.5em;
    -ms-border-radius:1.5em;
    -o-border-radius:1.5em;
}
.bigButton:hover{
    border: .18rem solid;
    text-shadow: .1rem .1rem .2rem rgba(0,0,0,.65);
    color: #e0dd00;
    background-image: linear-gradient(#5d4a1f, #FFFFAC, #5d4a1f) ;
    background-color: #9f7928 ;
    border-color: #5d4a1f;

}
.bigButton:active{
    outline: none;
    text-shadow: .1rem .1rem .2rem rgba(0,0,0,.75);
    background-image: linear-gradient(#c4972d, #fafacc, #c4911c) ;
    border-color: #9f7928 ;
    color:  #FFFFAC;

}
.bigButton:focus {
    outline: none;
}


.lilButton {
    display: inline-block ;
    padding: .7em 2em;
    margin: 0 0.1em 0.1em 0;
    
    border-radius: 1em;
    box-sizing: border-box;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    text-decoration: none;
    text-shadow: .08rem .08rem .05rem black;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.lilButton:hover{
    border: .18rem solid;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,.5);
    color: #3b3014;
    background-image: linear-gradient(#5d4a1f, #FFFFAC, #5d4a1f) ;
    background-color: #9f7928 ;
    border-color: #5d4a1f;


}
.lilButton:active{
    outline: none;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,.75);
    background-image: linear-gradient(#977b38, #fafacc, #977b38) ;
    border-color: #9f7928 ;
    color:  #FFFFAC;
}
.lilButton:focus {
    outline: none;
}

/* ================= Social Media =================*/

.social {
    list-style-type: none;
}
i {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #a5863f 40%, transparent 80%),                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #927739 62.5%, #8a7033 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    margin: 0;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

i:hover {
    text-shadow: 0 0 .2rem #f5f59a;
}
@media all and (max-width:30em){
    .bigButton {
        display:block;
        margin:0.2em auto;
   };
}
